.carousel
{
    position: absolute;
    top: 0;
    z-index: -1;
}
.carousel-item
{
    background: #000;
}
.carousel-item > p
{
    position: absolute;
    color: white;
    top: 45%;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
}
.filter-img
{
    opacity: .3;
}
@media screen and (max-width: 768px) {
    .navbar
    {
        margin-bottom: -2px;
    }
    .wrapper {
        margin-top: 0;
    }
    .carousel
    {
        position: relative;
    }
    .carousel-item > p
    {
        font-size: 1rem;
        top: 40%;
    }
}
